<header class="min-h-screen flex justify-center items-center">
    <div class="relative flex justify-center text-(center) font-([heading])">
        <h1
            class="text-(8xl gray-5 stroke-1) font-(thin) tracking-[5vw] uppercase opacity-0 animate-(flash delay-1000ms) lt-md:(write-vertical-right write-orient-upright tracking-normal) gt-md:(pl-8)"
            style="-webkit-text-fill-color: transparent; animation-fill-mode: forwards"
        >
            Gearchy
        </h1>
        <p
            class="absolute top-[33%] text-(3xl gray-3 shadow-xl) tracking-wide animate-(fade-in duration-1500ms) lt-md:(word-spacing-[1000vw] leading-loose)"
            style="animation-fill-mode: forwards"
        >
            Internet's first Goggles manager
        </p>
    </div>
</header>
