@import ./input
@import ./tooltip

*
  &::selection
    @apply bg-sky text-sky-1
    
  &::-webkit-scrollbar
    @apply w-2

  &::-webkit-scrollbar-thumb
    @apply bg-(stone-3 opacity-25) rounded-full

a
  @apply no-underline color-sky

@font-face
  font-family: heading
  src: url(../assets/fonts/Figtree-VariableFont_wght.ttf) format('truetype')

.font-heading
  font-family: heading
