---
import Card from './Card.astro'

const cards = await Astro.glob('./copy/*.md')
---

<div class="space-y-48 lt-md:mt-48">
  {
    cards.map((card) => (
      <Card title={card.frontmatter.title}>
        <Fragment set:html={card.compiledContent()} />
      </Card>
    ))
  }
</div>

<script>
  import ScrollReveal from 'scrollreveal'

  ScrollReveal({
    delay: 500,
    duration: 1000,
    // distance: '500px',
  }).reveal('.g-card')
</script>
