---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Lost">
    <div class="min-h-screen flex justify-center items-center">
        <div class="text-(center) space-y-3">
            <p class="text-(xl gray-3)">Pretty empty here, huh?</p>
            <p class="text-(sm gray-4) w-2/3 mx-auto">
                Want to check out the <a class="text-(sky-5) underline" href="/"
                    >frontpage</a
                > instead?
            </p>
        </div>
    </div>
</Layout>
