---
import { Image } from '@astrojs/image/components'
import Layout from '../layouts/Layout.astro'
import Hero from '../components/landing/Hero.astro'
import Cards from '../components/landing/Cards.astro'
import GetStarted from '../components/landing/GetStarted.astro'
import '../styles/global.styl'
import bg from '../assets/bg.jpg'

const description = "Internet's first Goggles manager."
---

<Layout title="Gearchy" {description}>
  <div
    class="g-bg fixed -left-[20px] -top-[20px] w-[calc(100%_+_40px)] h-[calc(100vh_+_40px)] -z-1"
  >
    <Image
      src={bg}
      class="object-cover w-full h-full"
      format={'webp'}
      width={4000}
      aspectRatio="16:9"
    />
  </div>
  <Hero />
  <Cards />
  <GetStarted />
</Layout>

<script lang="ts">
  // Blur the .g-bg element on scroll and make it darker
  const bg = document.querySelector('.g-bg')
  window.addEventListener('scroll', () => {
    if (!bg) return
    const scroll = window.scrollY
    const blur = scroll / 50
    const brightness = 1 - scroll / 4000
    // console.log(blur, brightness)
    bg.style.filter = `blur(${blur}px) brightness(${brightness})`
  })
</script>
