---
import Footer from '../components/Footer.astro'

const { title, description } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x+icon" href="/favicon.ico" />
    <title>{title}</title>
    {description && <meta name="description" content={description} />}
  </head>
  <body class="m-0 p-0 bg-dark text-light">
    <div>
      <slot />
      <!-- <Footer /> -->
      <dw-legal></dw-legal>
      <script>
        import '@devidw/components'
      </script>
    </div>
  </body>
</html>
