---
const { title } = Astro.props
---

<div class="g-card lt-md:max-w-[90vw] md:max-w-md mx-auto">
    <div class="space-y-3">
        <h2
            class="font-([heading] extrabold) text-(4xl gray-3) leading-[1.2] tracking-wide md:w-3/4 capitalize"
        >
            {title}
        </h2>
        <div class="pl-8 text-(lg gray-5) rounded-4">
            <slot />
        </div>
    </div>
</div>
