---
import logo from '../assets/logo.png'
import { Image } from '@astrojs/image/components'
---

<div class="mx-auto min-h-screen flex justify-center items-center">
  <div class="text-center space-y-10">
    <div class="flex justify-center mb-25">
      <Image src={logo} width={100} height={100} format={'webp'} />
    </div>

    <p class="text-(light-5 opacity-90) lt-sm:(w-2/3 mx-auto)">
      Put on your goggles and get started with Gearchy
    </p>

    <p>
      <a
        href="https://app.gearchy.wolf.gdn"
        class="block w-1/2 mx-auto rounded-full bg-[#a6a] px-6 py-3 tracking-wider font-[heading] hover:(bg-opacity-80 scale-[1.05]) transition-300"
      >
        Enter Gearchy
      </a>
    </p>
  </div>
</div>
